body{
	background-color:white;
	color:black;
	transition :0.3s;
}


body.black{
	color:white;
	background-color:black;
}

.dif_btn_manager[data-started="true"]{
	visibility:visible;
	transform:scale(1);
}
.dif_btn_manager{
	position:absolute;
	transition:all 0.5s ease-in;
	visibility:hidden;
	transform:scale(0);
	background-color:grey;
	border:5px solid white;
	width:98vw;
}
.difficulty_buttons{	
	display:flex;
	justify-content:space-evenly;
	align-items:space-evenly;
}
.difficulty_button{
	padding:0px 3vw;
	height:40vh;
	width:30%;
	transition:all 0.15s ease;
	border-radius:10px;

}
.bet{
	display:flex;
	justify-content:space-evenly;
	align-items:center; 
	margin:1% 1%;
}
.bett{
	background-color:blue;
}
.bettt{
	width:50vw;
	height:20vh;
}
.lbett{
	background-color:red;
	width:30%;
	height:20vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.difficulty_button:hover{
	background-color:grey;
}

.difficulty_button:disabled{
	background-color:brown;
}

.mindfield{
	border:5px solid purple;
	max-width:35vw;
	aspect-ratio:1/1;
	flex-wrap:wrap;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
}
.game{
	display:flex;		
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.game hr {
	width:100vw;
	margin:0px;
}
.minds{
	flex-grow:1;
	-webkit-appearance: none;
	appearance:none;
	background-color:blue;
	width:10vw;
	height:10vw;
	transition:	all 0.2s ease;
	border-radius:10px;
}

.minds:checked{
	background-color:green;
}

.minds[data-startup="true"]{
	background-color:grey;
}

.minds[data-triggr="true"]{
	background-color:red;
}

.startbtn{
	width:20vw;
	height:10vh;
	border-radius:10px;
}


