.top_bar_info{
	border: 5px solid red;
	min-height:100%;
	min-width:60%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-evenly;
}
.top_bar_info{
    
}
.top_bar_menu{
	display:flex;
	justify-content:space-between;
	align-items:stretch;
	max-height:5vh;
}
.top_bar_wigets{
	min-height:100%;
	border: 5px solid blue;
}
.top_bar_search{
	border:5px solid green;
}

.portateImage{
	width:20vw;	
	height:20vw;
}
.spacer{
	border:5px dashed red;
	width:50px;
	height:70vh;
}
.scrolling{
	#n0th1n9;
}
.memo{
	border: 5mm ridge green;
	display:grid;
	grid-template-columns:5fr 2fr;
	grid-template-rows:5fr 2fr;
	opacity:0;
	transition:all 0.6s ease-out;
	position:fixed;
	top:10%;
	scale:0;
	transform:perspective(1000px) rotateX(180deg);
}
.memo.seen{
	opacity:var(--doneness);
	scale:var(--doneness);
	transform:perspective(1000px) rotateX(calc(360deg*var(--doneness)));
	width:94.5%;
}
.memofiller{
	grid-column-start:1;
	grid-column-end:3;
}
.memoScript{
	border: 5px solid red;
	min-height:30vh;
	min-width:100%;
	max-width:100%;
	font-size:40px;
    animation:fromRight 0.5s ease-out forwards;
}
.memoPic{
	border: 5px solid blue;
	flex-direction:row;
    min-height:25vh;
}

.
.tem{
	border:5px solid black;
}

.main_content{

}
.discriptions{

}
.projects{
    min-height:30vh;
    display:flex;
    justify-content:space-evenly;
    align-content:center;
    flex-wrap:wrap;
    row-gap:10vh;
}
.projects button{
    min-height:30vh;
    min-width:30%;
}

.footer{
    
}

@keyframes fromLeft{
    from{
        opacity:0;
        translate:-200px;
    }
    to{
        opacity:1;
    }    

}
@keyframes fromRight{
    from{
        opacity:0;
        translate:200px;
    }
    to{
        opacity:1;
    }    

}






















