body{
	border:0;
	padding:0;
	margin:0;
}
.top_bar_info{
	border: 5px solid red;
	min-height:100%;
	min-width:60%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-evenly;
}
.top_bar_info{
    
}
.top_bar_menu{
	display:flex;
	justify-content:space-between;
	align-items:stretch;
	max-height:5vh;
}
.top_bar_wigets{
	min-height:100%;
	border: 5px solid blue;
}
.top_bar_search{
	border:5px solid green;
}

.portateImage{
	width:20vw;	
	height:20vw;
}
.maintitle{
	
}
.spacer{
	border:0px dashed red;
	width:150px;
	height:75vh;
}
.scrolling{
	/*https://uigradients.com/#MoonlitAsteroid*/
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.memo{
	border: 5mm ridge green;
	display:grid;
	grid-template-columns:5fr 2fr;
	grid-template-rows:5fr 2fr;
	opacity:0;
	transition:all 0.6s ease-out;
	position:fixed;
	top:10%;
	scale:0;
	transform:rotateX(180deg) translateY(-100vh);
}
.memo.seen{
	opacity:calc(var(--doneness,1));
	scale:var(--doneness,1);
	transform:perspective(1000px) rotateX(calc(360deg*var(--doneness,1))) translateY(calc(10vh*var(--doneness,1)));
	width:94.5%;
}

.memofiller{
	grid-column-start:1;
	grid-column-end:3;
}
.memo.seen .memoScript{
/* need to fix make like when only 80% opacity thwn it does this*/
	border: 5px solid red;
	min-height:30vh;
	min-width:100%;
	max-width:100%;
	font-size:40px;
    animation:fromRight 0.5s ease-out forwards;
}
.memoPic{
	border: 5px solid blue;
	flex-direction:row;
    min-height:25vh;
}

.
.tem{
	border:5px solid black;
}

.main_content{

}
.discriptions{

}
.projects{
    min-height:30vh;
    display:flex;
    justify-content:space-evenly;
    align-content:center;
    flex-wrap:wrap;
    row-gap:10vh;
}
.projects button{
    min-height:30vh;
    min-width:30%;
}

.footer{
    
}

@keyframes fromLeft{
    from{
        opacity:0;
        translate:-200px;
    }
    to{
        opacity:1;
    }    

}
@keyframes fromRight{
    from{
        opacity:0;
        translate:200px;
    }
    to{
        opacity:1;
    }    

}






















